In [3]:
# !pip3 install flask
# !python3 server.py

 * Serving Flask app 'server'
 * Debug mode: on
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8000
Press CTRL+C to quit
 * Restarting with stat
 * Debugger is active!
 * Debugger PIN: 203-574-071
^C

In [1]:
import pandas as pd
import service
from cassandra.cluster import Cluster

In [34]:
db = service.CassDB()
subjects = ["cs","math", "data science", "music", "art"]
times = [i for i in range(10)]
topics = ["os","linear algebra","big data", "guitar", "photography"]

for i in range(len(subjects)):
    for j in range(random.randint(0,5)):
        db.insert(subjects[i], topics[i], str(j), 12)

In [29]:
df = pd.DataFrame(db.session.execute(" SELECT subject,count(*) as cnt FROM user.preference GROUP BY subject"))
dc = {row['subject']: row['cnt'] for _, row in df.iterrows()}
top_n = sorted(dc, key=dc.get, reverse=True)[:5]
top_n_dict = {key: dc[key] for key in top_n}
top_n_dict

{'computer science': 3, 'data science': 3, 'art': 3, 'artistic': 1, 'music': 1}

In [37]:
df = pd.DataFrame(db.session.execute("""SELECT topic,count(*) as cnt FROM user.preference where subject = 'computer science' GROUP BY topic """))
dc = {row['topic']: row['cnt'] for _, row in df.iterrows()}
top_n = sorted(dc, key=dc.get, reverse=True)[:5]
top_n_dict = {key: dc[key] for key in top_n}
top_n_dict

{'operating system': 3}

In [31]:
db.session.execute(""" SELECT topic,count(*) as cnt FROM user.preference where subject = 'computer science' GROUP BY topic """)

In [35]:
pd.DataFrame(db.session.execute("select * from user.preference"))

             subject             topic id  duration
0   computer science  operating system  0        12
1   computer science  operating system  1        12
2   computer science  operating system  2        12
3              music            guitar  0        12
4              music            guitar  1        12
5              music            guitar  2        12
6       data science          big data  0        12
7       data science          big data  1        12
8       data science          big data  2        12
9       data science          big data  3        12
10       mathematics    linear algebra  0        12
11       mathematics    linear algebra  1        12
12       mathematics    linear algebra  2        12
13               art       photography  0        12
14               art       photography  1        12

In [38]:
import requests
import json
import random

In [67]:
url = 'http://127.0.0.1:8000/insert' 

subjects = ["cs","math", "data science", "music", "art"]
times = [i for i in range(10)]
topics = ["os","linear algebra","big data", "guitar", "photography"]

for i in range(len(subjects)):
    for j in range(random.randint(0,5)):
        data = {
            'subject': str(subjects[i]),
            'topic':str(topics[i]),
            'id': str(j),
            'duration': '12',
        }
        json_data = json.dumps(data)
        headers = {'Content-Type': 'application/json'}

        response = requests.post(url, data=json_data, headers=headers)
        print('Status Code:', response.status_code)

Status Code: 200
Status Code: 200
Status Code: 200
Status Code: 200
Status Code: 200
Status Code: 200
Status Code: 200
Status Code: 200

In [57]:
url = 'http://127.0.0.1:8000/topn'

params = {
    'n':'5'
}

response = requests.get(url, params=params)

print('Status Code:', response.status_code)
print('Response Body:', response.text)

Status Code: 200
Response Body: Top N subjects: {'music': 5, 'computer science': 2, 'data science': 2, 'mathematics': 2}

In [66]:
url = 'http://127.0.0.1:8000/topntopic'

params = {
    'subject':'computer science',
    'n':'3'
}

response = requests.get(url, params=params)

print('Status Code:', response.status_code)
print('Response Body:', response.text)

Status Code: 200
Response Body: Top N topics in computer science: {'operating system': 2}